VariablesInJavaAndItsDefaultValues/bin/
VariablesInJavaAndItsDefaultValues/.classpath
VariablesInJavaAndItsDefaultValues/.project
PrimitiveDataTypesAndItsDefaultValues/bin/
PrimitiveDataTypesAndItsDefaultValues/.classpath
PrimitiveDataTypesAndItsDefaultValues/.settings/
PrimitiveDataTypesAndItsDefaultValues/.project